
{% macro disqus() %}
  {% if config.extra.disqus_short_name is defined %}
  <script id="dsq-count-scr" src="//{{ config.extra.disqus_short_name }}.disqus.com/count.js" async></script>
  {% endif %}
{% endmacro disqus %}


{% macro sidebar_script() %}
    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if (target === toggle) {
            checkbox.checked = !checkbox.checked;
            e.preventDefault();
          } else if (checkbox.checked && !sidebar.contains(target)) {
            /* click outside the sidebar when sidebar is open */
            checkbox.checked = false;
          }
        }, false);
      })(document);
    </script>
{% endmacro sidebar_script %}

{% macro analytics_script() %}
    {% if config.extra.google_analytics_token %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.google_analytics_token }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ config.extra.google_analytics_token }}');
    </script>
    {% endif %}
{% endmacro analytics_script %}

{% macro changing_words() %}
	<script>
	(function(){
	document.addEventListener('DOMContentLoaded', function(){
	    var children = document.getElementsByClassName('codinfox-changing-keywords')[0].children;
	    var length = children.length;
	    var idx = 0;
	    setInterval(function(){
		children[idx].className = "hidden";
		idx = (idx + 1) % length;
		children[idx].className = "visible";
	    }, 2000);
	});
	})();
	</script>
{% endmacro changing_words %}
