
{% macro disqus() %}
  {% if config.extra.disqus_short_name is defined %}
  <script id="dsq-count-scr" src="//{{ config.extra.disqus_short_name }}.disqus.com/count.js" async></script>
  {% endif %}
{% endmacro disqus %}


{% macro sidebar_script() %}
    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if (target === toggle) {
            checkbox.checked = !checkbox.checked;
            e.preventDefault();
          } else if (checkbox.checked && !sidebar.contains(target)) {
            /* click outside the sidebar when sidebar is open */
            checkbox.checked = false;
          }
        }, false);
      })(document);
    </script>
{% endmacro sidebar_script %}

{% macro analytics_script() %}
    {% if config.extra.google_analytics_token %}
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', '{{ config.extra.google_analytics_token }}', 'auto');
ga('send', 'pageview');
    </script>
    {% endif %}
{% endmacro analytics_script %}

{% macro changing_words() %}
	<script>
	(function(){
	document.addEventListener('DOMContentLoaded', function(){
	    var children = document.getElementsByClassName('codinfox-changing-keywords')[0].children;
	    var length = children.length;
	    var idx = 0;
	    setInterval(function(){
		children[idx].className = "hidden";
		idx = (idx + 1) % length;
		children[idx].className = "visible";
	    }, 2000);
	});
	})();
	</script>
{% endmacro changing_words %}
