{% macro personal_info(gravatar, description, contacts) %}
  <div class="sidebar-item">
    <div class="sidebar-personal-info">
      <div class="sidebar-personal-info-section">
        <a href="http://gravatar.com/{{ gravatar }}">
          <img src="http://www.gravatar.com/avatar/{{ gravatar }}?s=350" title="View on Gravatar" alt="View on Gravatar" />
        </a>
      </div>
      <div class="sidebar-personal-info-section">
        <p>{{ description | safe }}</p>
      </div>
      {% if contacts %}
      {% set len = contacts | length %}
      {% set current_index = 0 %}
      <div class="sidebar-personal-info-section">
        <p> Follow me: <br />
        {% for contact in contacts %}
        {%   set iconname = contact.name %}
        {%   if contact.name == 'email' %}
        {%     set iconname = 'envelope' %}
        {%   endif %}
        <a href="{{ contact.path }}">
          <i class="fa fa-{{ iconname }}" aria-hidden="true"></i>
        </a>
        {%   set current_index = current_index + 1 %}
        {%   if current_index != len %}|{% endif %}
        {% endfor %}
        </p>
      </div>
      {% endif %}
    </div>
  </div>
 {% endmacro personal_info %}

{% macro nav(navlist, page_permalink) %}
  <nav class="sidebar-nav">
    {% for n in navlist %}
      {% set is_relative = n.path | truncate(length=1, end="") %}
      {% set url = n.path %}
      {% if is_relative == '/' %}
        {% set url = config.base_url ~ n.path  %}
      {% endif %}

      <span class="{% if n.haschild %}foldable{% endif %}">
        <a class="sidebar-nav-item {% if page_permalink == url %}active{% endif %}" href="{{ url }}">
          {{ n.name }}
        </a>

        {% if n.haschild %}
          {% set subs = n.sub | length %}
          {% for i in range(start=1, end=subs) %}
            {% for sub_nav in n.sub %}
              {% set sub_is_relative = sub_nav.path | truncate(length=1, end="") %}
              {% set sub_url = sub_nav.path %}
              {% if sub_is_relative == '/' %}
                {% set sub_url = config.base_url ~ sub_nav.path %}
              {% endif %}
              <a class="sidebar-nav-item sidebar-nav-item-sub {% if page_permalink == sub_url %}active{% endif %}" href="{{ sub_url }}">
                {{ sub_nav.name }}
              </a>
            {% endfor %}
          {% endfor %}
        {% endif %}
      </span>

    {% endfor %}

    <span class="sidebar-nav-item">Currently v{{ config.extra.version }}</span>
  </nav>
{% endmacro nav %}

{% macro copyright(author_name) %}
  <div class="sidebar-item">
    <p>
    &copy; {{ config.extra.copyrightyear }} {{ author_name }}. This work is liscensed under <a href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.
    </p>
  </div>
{% endmacro copyright %}

{% macro powered_by() %}
  <div class="sidebar-item">
    <p>
    Powered by <a href="https://www.getzola.org">Zola</a>
    </p>
  </div>
 {% endmacro powered_by %}
