
{% macro sidebar() %}
<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  {% self::personal_info() %}

  {% self::sidebar_nav() %}

  {% self::copyright() %}

  {% self::powered_by() %}
</div>
{% endmacro sidebar() %}


{% macro personal_info() %}
  <div class="sidebar-item">
    <div class="sidebar-personal-info">
      <div class="sidebar-personal-info-section">
        <a href="http://gravatar.com/{{ config.extra.author.gravatar }}">
          <img src="http://www.gravatar.com/avatar/{{ config.extra.author.gravatar }}?s=350" title="View on Gravatar" alt="View on Gravatar" />
        </a>
      </div>
      <div class="sidebar-personal-info-section">
        <p>{{ config.author.description }}</p>
      </div>
      {% if config.extra.author.contact %}
      {% set len = config.extra.author.contact | length %}
      {% set current_index = 0 %}
      <div class="sidebar-personal-info-section">
        <p> Follow me:
        {% for contact in config.extra.author.contact %}
        {%   set iconname = contact[0] %}
        {%   if contact[0] == 'email' %}
        {%     set iconname = 'envelope' %}
        {%   endif %}
        <a href="{{ contact[1] }}">
          <i class="fa fa-{{ iconname }}" aria-hidden="true"></i>
        </a>
        {%   set current_index = current_index + 1 %}
        {%   if current_index != len %}|{% endif %}
        {% endfor %}
        </p>
      </div>
      {% endif %}
    </div>
  </div>
 {% endmacro personal_info %}

{% macro sidebar_nav() %}
  <nav class="sidebar-nav">
    {% for nav in config.extra.nav %}
      {% set is_relative = nav[1][0] | slice(start=0, end=0) %}
      {% set url = nav[1][0] %}
      {% if is_relative == '/' %}
        {% set url = site.baseurl ~ nav[1][0]  %}
      {% endif %}

      {% set sub_len = nav[1] | length - 1 %} {# size of nav[1] minus 1 #}

      <span class="{% if sub_len > 0 %}foldable{% endif %}">
        <a class="sidebar-nav-item {% if page.url == nav[1][0] %}active{% endif %}" href="{{ url }}">
          {{ nav[0] }}
        </a>

        {% for i in (1..sub_len) %}
          {% for sub_nav in nav[1][i] %}
            {% set sub_is_relative = sub_nav[1] | slice(start=0, end=0) %}
            {% set sub_url = sub_nav[1] %}
            {% if sub_is_relative == '/' %}
              {% set sub_url = site.baseurl ~ sub_nav[1] %}
            {% endif %}
              <a class="sidebar-nav-item sidebar-nav-item-sub {% if page.permalink == sub_nav[1] %}active{% endif %}" href="{{ sub_url }}">
                {{ sub_nav[0] }}
              </a>
          {% endfor %}
        {% endfor %}
      </span>

    {% endfor %}

    <span class="sidebar-nav-item">Currently v{{ config.extra.version }}</span>
  </nav>
{% endmacro sidebar_nav %}

{% macro copyright() %}
  <div class="sidebar-item">
    <p>
    &copy; {{ config.extra.copyrightyear }} {{ config.extra.author.name }}. This work is liscensed under <a href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>.
    </p>
  </div>
{% endmacro copyright %}

{% macro powered_by() %}
  <div class="sidebar-item">
    <p>
    Powered by <a href="https://www.getzola.org">Zola</a> and <a href="http://codinfox.github.io">codinfox-lanyon</a>
    </p>
  </div>
 {% endmacro powered_by %}
