{% extends "page.html" %}

{% block content %}
	      <div class="post">
          <h1 class="post-title">{{ page.title }}</h1>
          <span class="post-date">{{ page.date }}</span>
          {% if page.taxonomies.tags %} |
            {% for tag in page.taxonomies.tags %}
            <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}" class="post-tag">{{ tag }}</a>
            {% endfor %}
          {% endif %}
          <article>
            {{ page.content | safe }}
          </article>
        </div>

        <div class="related">
          <h2>Other Posts</h2>
          <ul class="related-posts">
            <li class="previous">
            {% if page.earlier %}
                <small>Earlier {</small>
                <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
                <small>}</small>
            {% endif %}
            </li>
            <li class="next">
            {% if page.later %}
                <small>{</small>
                <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
                 <small>} Later</small>
            {% endif %}
            </li>
          </ul>
        </div>

        {% if config.extra.disqus_short_name %}
        <div class="comments">
          <h2>Comments</h2>
          <div id="disqus_thread"></div>
          <script>
            var disqus_config = function () {
            this.page.url = '{{ page.permalink | safe }}'; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{ page.title }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://{{ config.extra.disqus_short_name }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
        {% endif %}
{% endblock content %}
