name: Zola Deploy to Pages on push
on: push

jobs:
  build:
    name: shalzz/zola-deploy-action
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: 'Checkout'
        uses: actions/checkout@master
      - name: 'Build and deploy'
        uses: shalzz/zola-deploy-action@master
        env:
          PAGES_BRANCH: gh-pages
          BUILD_DIR: .
          BUILD_FLAGS: --drafts
          TOKEN: ${{ secrets.BUILD }}

